
    #myheader{
        width: 150px;
        background-color: aqua;
    }

body{
    background-color: rgb(226, 240, 235);
}
p{
    color: rgb(3, 3, 14);
    }
table{
    border: width 1px; 
    border-color: rgb(230, 57, 57);
    border-radius: 5px; 
    background-color: aqua;
    }
td, th{
    border:1px solid red
}
.table{
    background-color: rgb(231, 166, 166);

}
div{
    background-color: blue; 
    width: 100px;
    margin: auto;
}