body{
    background-color: rgb(247, 236, 236);
    
}

h1{
    color: rgb(32, 243, 243);
}
.container{
    display: grid;
    justify-content: center;
    height: 100vh;
    width: auto;
    align-items: center;
    grid-template-columns: auto;
}