body{
    background-color: rgb(247, 236, 236);
    
    
}

h1{
    color: rgb(239, 250, 250);
}
.container{
    display: grid;
    justify-content: center;
    height: 100vh;
    width: auto;
    align-items: center;
    grid-template-columns: auto;
    padding: 20px;
}
.box{
    border: 1px solid rgb(15, 5, 5);
    
    width: 300px;
    background-color: rgb(0, 4, 255);
    

}
.container_box{
    display: grid;
    padding: 20 px;
    grid-template-columns: auto auto auto;
    gap: 15px; 
    

}
.flex-container{
    display:flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
.flex-item{
    flex: 1;
    background-color: rgb(3, 24, 24, .2);
    padding: 15px;
    margin: 10px;
    text-align: center;
    
}